.description {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.181);
    padding: 10px;
    margin: 20px;
}

.contact,
.description {
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: min(35px, 3vw);
}

.contact > {
    margin: 0px;
    display: flex;
}

.material-icons {
    font-size: 3vh;
    color: white;
    font-display: block;
}
